body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

html, body {
    background: #d2d5d6;
    font-family: '微软雅黑', serif;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    color: gray;
}

p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    font-size: 15px;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.topbar {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background: #d2d5d6;
    position: fixed;
}

.topbar a .nav {
    display: inline-block;
    width: 200px;
}

.topbar a .nav h3 {
    line-height: 30px;
    display: inline-block;
    font-size: 20px;
    color: black;
}

.topbar a .active {
    background: #ff3264;
}

.topbar a .active h3 {
    color: white;
}

.content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#box1 {
    width: 100%;
    height: 100%;
}

#box1 .picture {
    position: relative;
    width: 488px;
    height: 432px;
    left: 8%;
    top: 14.2%;
    background: url("../image/林力尧.jpg") no-repeat -297px -143px;
    opacity: 1;
    box-shadow: gray 1px 1px 4px;

}

#box1 .textintro {
    width: 680px;
    float: left;
    margin-left: 45%;
    margin-top: -25.2%;
}

#box1 .textintro .list {
    width: 370px;
}

#box2 {
    width: 100%;
    height: 100%;
}

#box2 .picture {
    position: relative;
    width: 258px;
    height: 291px;
    left: 10%;
    top: 20%;
    background: url("../image/红.jpg") no-repeat -432px -399px;
    box-shadow: gray 1px 1px 4px;

}

#box2 .textintro {
    width: 680px;
    float: left;
    margin-left: 35%;
    margin-top: -15%;
}

#box3 {
    width: 100%;
    height: 100%;
}

#box3 .picture {
    position: relative;
    left: 10%;
    top: 20%;
    width: 300px;
    height: 300px;
    background: url("../image/橙.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: gray 1px 1px 4px;
}

#box3 .textintro {
    width: 680px;
    float: left;
    margin-left: 35%;
    margin-top: -15.7%;
}

#box4 {
    width: 100%;
    height: 100%;
}

#box4 .picture {
    position: relative;
    left: 10%;
    top: 20%;
    width: 300px;
    height: 300px;
    background: url("../image/黄.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: gray 1px 1px 4px;
}

#box4 .textintro {
    width: 680px;
    float: left;
    margin-left: 35%;
    margin-top: -15.7%;
}

/*列表边框*/
.textintro .list {
    width: 370px;
}

.textintro .list li {
    border: 1px solid darkcyan;
}

#box1 #Introduction h1 {
    text-align: center;
    margin-bottom: 10px;
}

#box1 #Introduction p {
    text-indent: 2em;
}

.bottom {
    display: none;
    width: 400px;
    height: 100px;
    position: absolute;
    /*background: violet;*/
    bottom: 21.5%;
    left: 5%;
    padding-top: 25px;
    box-sizing: border-box;
}

#control1 {
    position: absolute;
    left: 5%;
    top: 45.5%;
}

#control2 {
    position: absolute;
    left: 13%;
    top: 49%;
}

.bottom .wrapper {
    width: 300px;
    height: 4px;
    border: 0.5px solid darkcyan;
    margin-top: 34.4px;
    margin-left: 84px;
}

#progressBar {
    display: none;
    width: 300px;
    height: 4px;
    background: #ff3264;
    position: absolute;
    top: 60%;
    left: 21%;
    box-shadow: 2px 0 0 gray;
}

#songName {
    width: 300px;
    height: 25px;
    position: absolute;
    top: 32%;
    left: 21%;
}

.bottom #text {
    width: 300px;
    height: 25px;
    position: absolute;
    top: 65%;
    left: 22.5%;
    font-size: 13px;
}